@import "tailwindcss/base";
@import "tailwindcss/utilities";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--Dark-Color, #21243d);
}
.container {
  margin: 0 auto;
  width: 856px;
}
.authButton {
  font-size: 1rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 600;
  padding: 4px 10px;
  align-items: center;
  border-radius: 5px;
}
input {
  outline: none;
  color:white;
  font-size: medium;
}
.authLabel {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
}
